{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {},
        "transform-runtime": {
          "regenerator": true
        },
        "styled-jsx": {},
        "class-properties": {}
      }
    ]
  ],
  "plugins": [
    "macros",
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }
    ],
    "@emotion/babel-plugin"
  ]
}
